.search{
  height: 40px;
}

.search{
  height: 40px;
  font-size: 16px;
  font-weight: 300;
}

.search {
  margin-right: 12px;
}

.search {
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-family: Lobster;
  color: pink;
  
}
 h2 {
   color: purple;
 }
